h1 {
    color: #FFFFFF;
}

.footer-main {
    background: #366AAA;
    margin-top: 50px;
    font-size: 18px;
}

.copy-right img {
    height: 8rem;
}

.bottomWord {
    text-align: center;
    margin-top: 60px;
    font-size: 26px;
}